@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-slate-50: #f8fafc;
  --clr-slate-100: #f1f5f9;
  --clr-slate-200: #e2e8f0;
  --clr-slate-300: #cbd5e1;
  --clr-slate-400: #94a3b8;
  --clr-slate-500: #64748b;
  --clr-slate-600: #475569;
  --clr-slate-700: #334155;
  --clr-slate-800: #1e293b;
  --clr-slate-900: #0f172a;
  --clr-slate-950: #020617;

  --animation-duration: 1s;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-slate-50);
  color: var(--clr-slate-950);
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}

.progress-bar .bar {
  fill: none;
  stroke: var(--clr-slate-950);
  stroke-width: .5rem;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.controls {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 9rem;
}

.slider label span {
  font-weight: bold;
}
